.card,
.card-info {
  border-radius: var(--border-rad);
}

.card {
  min-width: 18.75rem;
  max-width: 23rem;
  width: 100%;
  height: 10rem;
  flex-direction: column;
  background-color: "var(--clr-work)";
  margin-bottom: 0.5rem;
  gap: 0rem;
  background-repeat: no-repeat;
  background-position: 92% 0%;
  background-size: 4.938rem;
}

.title {
  grid-column: 1;
  grid-row: 1;
}
.link {
  grid-column: 2;
  grid-row: 1;
}

.times {
  grid-column: 1 / span 2;
  grid-template-rows: 2;
  align-items: center;
}

.current {
  grid-column: 1;
  grid-row: 2;
}

.previous {
  grid-column: 2;
  grid-row: 2;
}

.card-info {
  margin-top: 2.5rem;
  height: 8rem;
  background-color: var(--clr-darkblue);
  grid-template-columns: 50% 50%;
  grid-template-rows: 3rem;
  gap: 0rem;
  align-items: center;
  padding: 1rem 0;
}

.card-info button {
  justify-self: right;
  margin-right: 2rem;
}

.text-left {
  text-align: left;
  margin-left: 2rem;
}

.text-right {
  text-align: right;
  margin-right: 2rem;
}

@media screen and (min-width: 1150px) {
  .card {
    height: 15.3rem;
    margin: 0;
    min-width: 12rem;
    max-width: 16rem;
    width: 16rem;
  }

  .card-info {
    height: 12.45rem;
    grid-template-rows: auto;
    grid-template-columns: 50% 50%;
    margin-top: 2.85rem;
    border: 1px solid var(--clr-darkblue); /* helps aliasing issue */
  }

  .title,
  .link,
  .current,
  .previous {
    margin: 0 0 0 1rem;
  }

  .title {
    grid-column: 1;
    grid-row: 1;
  }
  .link {
    grid-column: 2;
    grid-row: 1;
  }

  .current {
    grid-column: 1 / span 2;
    grid-row: 2;
    font-size: var(--fs-800);
  }

  .previous {
    grid-column: 1 / span 2;
    grid-row: 3;
    text-align: left;
  }
}
