.App {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1150px) {
  #root {
    display: flex;
    justify-content: center;
  }

  .App {
    display: grid;
    grid-template-areas:
      "profile card card card"
      "profile card card card";
    height: 100vh;
    align-content: center;
    margin: 0;
    padding: 0;
    gap: 1.9rem;
  }
}
